.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(175, 242, 242);
  padding: 10px 20px;
  color: #060505;
  z-index: 11;
}

.navbar-right {
  display: flex;
  position: fixed;
  right: 50px;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar h1:hover {
  color: #0a8f3d;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.438);
  transition: color 0.9s;
}

.logo {
  width: 50px;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
  text-decoration: none;
  color: #1e0808;
  font-weight: bold;
  transition: color 0.9s;
}

.nav-links li:hover {
  color: #f39c12;
}

@media (max-width: 620px) {
  .navbar {
    display: block;
    height: 100px;
  }
}



.dropdown {
  position: relative;
}

.dropdownContent {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #fff;
}

.dropdown.open .dropdownContent {
  display: block;
}

.dropdownContentItem {
  padding: 10px;
  cursor: pointer;
}

.divider {
  height: 1px;
  background-color: #fff;
  margin: 5px 0;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.logoutButton {
  background-color: #5867dadf;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.logoutButton:hover {
  background-color: #25ed9d;
}