.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fffdfd;
  padding: 10px 20px;
  color: #060505;
}

.navbar-right {
  display: flex;
  position: fixed;
  right: 50px;
  align-items: center;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar h1:hover {
  color: #0a8f3d;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.438);
  transition: color 0.9s;
}

.logo {
  width: 50px;
  color: #fff;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
  text-decoration: none;
  color: #1e0808;
  font-weight: bold;
  transition: color 0.9s;
}

.nav-links li:hover {
  color: #f39c12;
}

@media (max-width: 620px) {
  .navbar {
    display: block;
    height: 100px;
  }
}